.navbar{
    background-color: rgb(169, 255, 169);
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
    border: 1px solid #e21616
}
section{
    background-color: rgb(33, 219, 148);
}
body{
    background-color: royalblue;
}
p{
    padding: 10px;
}
#top{
    color: rgb(250, 245, 246);
}